/*task 2*/
/* .current_news_container {
    border: 2px solid black;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 5px 10px  black ;
}
.current_news_container a {
    margin-right: 10px;
} */

* { /* так мы обращаемся ко всем элементам на странице*/
    margin: 0;      /*обнуляем внешние поля*/
    padding: 0;     /*обнуляем внутренние поля*/
}




#task_8 {
    display: flex;  /* выравниваем дочерние элементы в один ярус */
    border: 2px solid rgb(91, 91, 154);
    margin: 20px;
    height: max-content;
}
#buttons_side {
    background-color: rgb(91, 91, 154);
    padding-top: 50px;
}
.task_8_button {
    padding: 10px;      /* внутреннее поле */
    user-select: none;  /* ставим запрет на выделение текста*/
}
.task_8_button:hover {  /* если навелась мышка на данные элементы */
    cursor: pointer;    /* меняем курсор у мышки*/
}



.post_container {
    margin: 20px;
}
.post_header {
    display: flex;                      /*ставим заголовок и кнопку в 1 ярус*/
    justify-content: space-between;     /*раскидываем их по краям блока*/
    margin-bottom: 15px;                /*отступ снизу*/
}
.remove_post_btn {
    font-size: 30px;                    /*размер шрифта у кнопки*/
    background: none;                   /*выключаем фон*/
    border: none;                       /*выключаем рамку(обводку)*/
}
.remove_post_btn:hover {                /*св-ва элемента при наведении мышкой*/
    cursor: pointer;                    /*меняем отображение мышки со стрелки на руку*/
    text-shadow: 0 0 5px black;       /*тень для текста (X Y blur color)*/
}



#task_10 {
    width: 500px;                   /*ширина*/
    border: 2px solid black;      /*рамка*/  
    border-radius: 15px;            /*скругление*/
    padding: 25px;                  /*внутреннее поле*/
    margin-left: auto;              /*выравниваем блок по центру*/
    margin-right: auto;
    text-align: center;             /*ставим все дочерние элементы по центру*/
}
#full_progress_bar {
    border: 1px solid black;      /*рамка контейнера прогресса*/  
    height: 20px;                   /*высота контейнера прогресса*/
    width: 100%;                    /*ширина в % от ширины родителя*/
    border-radius: 15px;            /*скругление*/
}
#current_progress_bar {
    height: 100%;                   /*высоту берём от родителя*/
    width: 20%;                     /*ширина 20% от родителя*/
    border-radius: 15px;            /*скругление как у родителя*/
    background-color: aqua;       /*цвет фона*/  
} 
#add_progress_btn {
    margin-top: 15px;               /*у кнопки делаем отступ сверху*/
    padding: 5px;                   /*внутренне поле от рамки до текста*/
}






#task_11 {
    border: 3px solid black;    /*рамка у таблицы*/
    margin-left: auto;              /*выравниваем на центр*/
    margin-right: auto;
    border-collapse: collapse;      /*убираем пространство между ячейками таблицы*/
}
#task_11 thead td {                 /*ячейки внутри заголовочной части*/
    font-weight: bold;              /*полужирный текст*/
    font-size: 16px;                /*размер*/
    /* background-color: burlywood; */
}
#task_11 td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;             /*текст внутри ячейки ставим по центру*/
    background-color: blanchedalmond;
}



#main_menu_list {
    display: flex;
    list-style: none;
}
.first_lvl_menu {
    background-color: darkcyan;
    color: antiquewhite;
    padding: 5px;
}
.first_lvl_menu:hover {
    cursor: pointer;
}
.second_lvl_btn {
    list-style: none;
}
.first_lvl_menu ul {
    display: none;    
}


#task_15 {
    border: 1px solid black;
    display: flex;
    width: max-content;
    border-radius: 5px;
}
#plus_btn, #minus_btn {
    display: block;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid black;
}
#plus_btn {
    border-bottom: 1px solid black;
}
#number_controller button:hover {
    cursor: pointer;
    text-shadow: 0 0 10px black;
    transition: 0.5s;
}
#user_number_elem {
    padding-top: 9px;
}




.color_block {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
}








#color_palette {
    border: 2px solid black;
    width: 274px;
    height: 107px;
}
#color_palette div {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid black;
}
#color_palette div:hover {
    cursor: pointer;
    box-shadow: 0 0 5px black;
}






#task_18 {
    padding: 15px;
}
#new_comment {
    resize: none;
}




#to_top_btn {
    position: fixed;
    bottom: 10%;
    right: 10%;
    font-size: 30px;
    /* border: none; */
    background-color: orange;
    display: none;
}
#to_top_btn:hover {
    cursor: pointer;
    box-shadow: 0 0 20px orange;
    transition: 0.5s;
}



#calculator {
    border: 3px solid black;
    width: max-content;
}
#calc_display {
    width: 100%;
    background-color: aqua;
    height: 60px;
}
#calc_buttons td {
    font-size: 60px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
}
#calc_buttons td:hover {
    cursor: pointer;
    box-shadow: 0 0 5px black;
}
#calc_buttons {
    border-collapse: collapse;
}