<!-- Раширяем базовый шаблон -->
{% extends "posts_app/templates/base.html" %}

<!-- подключаем статичную область -->
{% load static %}

<!-- Что хотим поместить внутрь блока title в базовом шаблоне -->
{% block 'title' %}{{ post.title }}{% endblock %}

<!-- В блок CSS добавляем другой css файл -->
{% block 'css_block' %}
<link rel="stylesheet" href="{% static 'posts_app/static/css/posts.css' %}">
{% endblock %}

<!-- Что вставить в main_block блок -->
{% block 'main_block' %}
    <div id="all_posts_container">
        <div class="post_container">
            <div class="post_header">
                <h2><a href="/post/{{ post.id }}">{{ post.title }}</a></h2>
            </div>
            <a class="post_author" href="/user/{{ post.author.username }}">{{ post.author.username }}</a>
            <p class="post_date">{{ post.create_date }}</p>
            <p class="post_content">{{ post.content }}</p>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="картинка поста" class="post_image">
            {% endif %}
            <div class="post_footer">
                <a href="#add_new_comment_form">Добавить комментарий</a>
                <button class="like_btn" post_id="{{ post.id }}">👍</button>
                <span class="rating">{{ post.rating }}</span>
                <button class="dislike_btn" post_id="{{ post.id }}">👎</button>
            </div>
        </div>
    </div>
    <div id="all_comments_container">
        {% for comment in post_commentaries %}
            <div class="comment_container">
                <p class="post_username">{{ comment.author.username }}</p>
                <p class="post_create_date">{{ comment.create_date }}</p>
                <p class="post_content">{{ comment.content }}</p>
            </div>
        {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
        <form action="" id="add_new_comment_form" method="post">
            {% csrf_token %}
            <label for="">Ваш комментарий:</label>
            <br>
            <textarea placeholder="комментарий должен быть от 1 до 1000 символов" type="text" name="comment_content" id="comment_content" required maxlength="1000" rows="10" cols="50"></textarea>
            <br>
            <input type="submit" value="Отправить">    
        </form>
    {% else %}
        <div id="add_comment_info">
            <p>Для добавления комментария нужно войти в аккаунт:</p>
            <br>
            <a href="{% url 'auth_app:login' %}">Войти</a>
            <a href="{% url 'auth_app:register' %}">Создать аккаунт</a>
        </div>
    {% endif %}
{% endblock %}

<!-- Что вставить в js_block блок -->
{% block 'js_block' %}
<!-- <script src="{% static 'posts_app/static/js/posts.js' %}"></script> -->
<script src="{% static 'posts_app/static/js/post_voting.js' %}"></script>
{% endblock %}