<!DOCTYPE html>
{% load static %}
<!-- подключили статичную область нашего сервера -->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'auth_app/static/css/auth.css' %}">
    <!-- из статичной области подключили css файл -->
</head>
<body>
    <!-- создаём форму регистрации с тремя полями -->
    <form action="" method="post" id="auth_form">
        {% csrf_token %}
        <label for="login">Логин:</label>
        <br>
        <input type="text" id="login" name="login" required maxlength="255" placeholder="до 255 символов">
        <br>

        <label for="password">Пароль:</label>
        <br>
        <input type="password" id="password" name="password" required maxlength="20" minlength="8" placeholder="от 8 до 20 символов">
        <br>

        <input type="submit" id="submit_btn" value="Войти">

        <p id="error_messages"></p>
    </form>
    <script src="{% static 'auth_app/static/js/auth.js' %}"></script>
    <!-- из статичной области подключили js файл -->
</body>
</html>